@page
@model CSIT_Project.Pages.CafeManager.BidApprovalModel
@{
}

<head>
    <title>Bid Approved</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .message {
            text-align: center;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="message">
        Bid has been approved.
    </div>
    <div class="text-center mt-3">
        <a href="/CafeManager/ViewStaffBid" class="btn btn-secondary">Back</a>
    </div>
</body>